// Color variables for CWT
// Styleguide 1.0

$colorBackground: #353F48;
$colorBackgroundDarkened: darken($colorBackground, 5%);

$colorLandingBox: #C4DDED;

$colorPrimaryCorp: #FF694B;
$colorSecondaryCorp: #6B90C5;
$colorTeal: #51B1BD;

$colorSoftBlue: #EDF0F4;
$colorMediumBlue: #6B90C5;
$colorSemiBlue: #425B78;
$colorDarkBlue: #2E3E51;

$colorErrorRed: #F26161;
$colorSuccessGreen: #40B292;
$colorWarningOrange: #F7B868;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #5a5a5a;
