// Color variables
// Styleguide 1.0

$colorBackground: #F2F2F2;
$colorBackgroundDarkened: darken($colorBackground, 5%);

$colorPrimaryCorp: #137BD4;
$colorSecondaryCorp: #005578;
$colorTeal: #51B1BD;

$colorSoftBlue: #EDF0F4;
$colorMediumBlue: #55A0B9;
$colorSemiBlue: #005578;
$colorDarkBlue: #2E3E51;

$colorErrorRed: #F26161;
$colorSuccessGreen: #40B292;
$colorWarningOrange: #F7B868;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #2b3744;
$colorDarkGrey: #414549;
