conichi-checkbox,
conichi-checkbox-group {
  .checkbox {
    @include position(relative, 0 null null 2.5em);
    text-transform: uppercase;
    cursor: pointer;
    margin: 1em 0;

    p {
      line-height: 1.4em;
      margin: 0;
    }

    &:before {
      @include position (absolute, -.2em null null -2.5em);
      @include size(1.4em);
      transition: all .1s ease;
      -webkit-transition: all .1s ease;
      transform-origin: center center;
      border: 2px solid $colorGenericGrey;
      border-radius: 5px;
      content: '';
    }

    i {
      @include position(absolute, 0 null null -2.1em);
      color: $colorOffWhite;
      display: none;
    }

    &.checked {
      i { display: block }

      &:before {
        border: 2px solid $colorPrimaryCorp;
        background: $colorPrimaryCorp;
      }
    }
  }
}