conichi-footer {
  @include position(fixed, null 0 0 0);
  border-top: 1px solid $colorPrimaryCorp;
  background: $colorBackgroundDarkened;
  height: 4em;
    
  .logo, .partner-logo {
    @include size(auto 1.5em);
    display: inline-block;
    margin-top: 1.2em;
    float: left;
  }
  
  .partner-logo { float: right }
  
  .copyright {
    @include position(relative, 1.8em null null null);
    text-align: center;
    font-size: .8em;
    color: $colorSecondaryCorp;
  }
}