conichi-hero {
  @include position(absolute, 0 0 null 0);
  height: 30em;

  .image-container {
    height: 30em;
    overflow: hidden;
    
    .image {
      background-image: url('./assets/images/header.jpg');
      background-size: cover;
      background-position: center;
      animation: grow 60s  linear 10ms infinite;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      height: 30em;
    }
  }

  .details {
    @include position(relative, -5em null null null);

    h2 { margin-top: 1.5em }

    p {
      color: $colorPrimaryCorp;
      text-align: center;
      padding: .2em 0 .4em;
      margin: 0;
    }

    .logout {
      display: block;
      color: $colorSecondaryCorp;
      font-family: $fontFamilyLight;
      font-size: .8em;
      text-align: center;
      cursor: pointer;
    }
  }
}

conichi-hero-content {
  display: block;
  margin-top: 40em;
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
