conichi-notification {
  .error,
  .success {
    position: fixed;
    animation: 1s fadeOut forwards 2s;
    max-width: 30em;
    min-width: 22em;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: $colorOffWhite;
    padding: 2em 3em;
    text-align: center;
    z-index: 999;
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
  }

  .error {
    background: rgba(242, 97, 97, 0.8);
    border: 1px solid $colorErrorRed;
  }

  .success {
    background: rgba(64, 178, 146, 0.8);
    border: 1px solid $colorSuccessGreen;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
