conichi-reservation {
  .reservation-container {
    position: relative;
    border: 1px solid $colorMediumGrey;
    background: rgba(227,227, 227, .5);
    margin-bottom: 3em;
    border-radius: 5px;
    min-height: 8em;
    padding: 1em 1.3em;

    .venue {
      margin-bottom: .5em;

      p {
        font-size: 1.1em !important;
        text-transform: uppercase;
        font-weight: bolder;
        margin: 0 0 .5em;
        color: #797979 !important;
      }

      span { color: $colorMediumGrey !important }
    }

    .details {
      width: calc(100% - 8em);
      display: inline-block;
      vertical-align: top;

      .column {
        @include span-columns(12 of 12);
        @include omega-reset(2n);
        padding: 0;
        
        @include media($breakTabletPortrait) {
          @include span-columns(6 of 12);
          padding-right: 1em;
        }
      }

      p {
        color: lighten($colorMediumGrey, 10%);
        font-size: 1em;
        margin: 0;

        span {
          color: #797979;
          float: right;
          font-weight: bold;
        }
      }
    }

    .venue-photo {
      @include size(6em);
      float: right;
      display: inline-block;
      vertical-align: top;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
    }
  }
}