conichi-slider {
  .slider-container {
    width: 100%;

    input {
      @include size(100%, 1px);
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      transition: opacity .2s ease-in-out;
      -webkit-transition: opacity .2s ease-in-out;
      background: transparent;
      outline: none;

      &::-webkit-slider-thumb {
        @include size(1.5em);
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        border-radius: 50%;
        background: $colorPrimaryCorp;
        cursor: pointer;
        margin-top: -.75em;
      }

      &::-moz-range-thumb {
        @include size(1.5em);
        border-radius: 50%;
        background: $colorPrimaryCorp;
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        @include position(relative, .5em null null null);
        @include size(100%, 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }

      &::-moz-range-track {
        @include position(relative, .5em null null null);
        @include size(100%, 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }

      &::-ms-track {
        @include position(relative, .5em null null null);
        @include size(100%, 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }
    }

    .output {
      float: right;
      margin-top: -1.5em;
    }
  }
}