conichi-text {
  .group { 
    position: relative;
    padding: 15px 0 20px;

    input {
      font-size: 1em;
      color: $colorOffWhite;
      display: block;
      border: none;
      border-bottom: 1px solid $colorOffWhite;
      background: transparent;

      &:focus {
        outline: none;
        border-bottom: 1px solid $colorOffWhite;
        background: transparent;
      }

      &:valid ~ label,
      &:focus ~ label { color: $colorSecondaryCorp }

      &:focus ~ label,
      &:valid ~ label {
        bottom: 3.1em;
        font-size: .9em;
      }
    }

    label {
      @include position(absolute, null null 1.5em 0);
      @include transition(all 0.2s ease);
      color: $colorOffWhite; 
      pointer-events: none;
    }

    .bar {
      @include position(absolute, null null 20px null);
      @include transition(all 5s ease);
      @include size(0 1px);
      content: '';
      background: $colorPrimaryCorp;
    }

    input:focus ~ .bar { @include size(100% 1px) }

    .view-password {
      @include position(absolute, null 0 1.3em null);
      @include size(1.8em);
      cursor: pointer;
    }
  }
}