conichi-text {
  display: block;
  
  .group {
    position: relative;
    margin: .5em 0;
    
    label {
      @include position(absolute, .2em null null 0);
      @include transition(all 0.2s ease);
      font-size: .8em;
      color: $colorSemiBlue; 
      pointer-events: none;
    }

    input {
      @include transition(all 0.2s ease);
      background: $colorBackground;
      color: $colorMediumGrey; 
      font-size: 1em;
      padding: 1.5em 0 0;
      border: none;
      border-bottom: 2px solid $colorSemiBlue;
      outline: none;

      &:active,
      &:focus {
        color: $colorLightGrey;
        background: $colorBackground;
        border-bottom: 2px solid $colorPrimaryCorp;
      }

      &:active + label,
      &:focus + label { color: $colorPrimaryCorp }
    }

    .mask-container {
      @include position(absolute, 1.4em null null null);
      background: $colorBackground;
      pointer-events: none;

      .input-mask span {
        position: relative;
        opacity: .5;
        z-index: 9999;

        &.char { opacity: 1 }
      }
    }

    .view-password {
      @include position(absolute, null 0 0 null);
      @include size(1.8em);
      cursor: pointer;
    }
  }
}