//-------------------------------------
// Typography
//-------------------------------------
body { color: $colorDarkGrey }

a {
  &:link, &:visited, &:hover, &:active, &:focus {
    color: $colorDarkGrey;
    &:hover { color: lighten($colorDarkGrey, 10%)}
  }

  &.button {
    color: $colorOffWhite;
    &:hover { color: darken($colorOffWhite, 10%) }
  }
}

h2 { color: $colorDarkGrey }

//-------------------------------------
// Loading screen
//-------------------------------------
.loading-screen img { @include filter(invert(.5)) }

//-------------------------------------
// Text inputs
//-------------------------------------
conichi-text {
  .group {
    input {
      border-bottom: 2px solid rgba($colorMediumGrey, .6) !important;
      -webkit-text-fill-color: $colorDarkGrey !important;
      color: $colorDarkGrey !important;

      &:active,
      &:focus {
        color: lighten($colorDarkGrey, 5%) !important;
        background: $colorBackground !important;
        border-bottom: 2px solid $colorPrimaryCorp !important;
      }

      &:active + label,
      &:focus + label { color: $colorPrimaryCorp !important }

      &:active + .mask-container .input-mask .carat, { border-right: 1px solid $colorDarkGrey !important }
      &:focus + .mask-container .input-mask .carat { border-right: 1px solid $colorDarkGrey !important }
      
      &:hover { -webkit-text-fill-color: $colorDarkGrey !important }
    }

    label { color: $colorDarkGrey !important }
    img { @include filter(invert(.5)) }
  }
}

//-------------------------------------
// Reservation box
//-------------------------------------
conichi-reservation {
  .title { color: $colorSemiBlue !important }
  .details p { color: $colorMediumGrey !important }
  .reservation-container .venue span { color: $colorMediumGrey !important }
}

//-------------------------------------
// Sidebar
//-------------------------------------
conichi-sidebar {
  background: #565D64 !important;
  border-right: 1px solid $colorMediumGrey !important;

  a {
    &:link, &:visited { color: $colorOffWhite !important }

    &:hover, &.active {
      background: lighten(#565D64, 2%) !important;
      color: lighten($colorPrimaryCorp, 10%) !important;
    }
  }

  .footer {
    box-shadow: 0px -5px 5px 0px #565D64 !important;
    background: #565D64 !important;
    color: $colorOffWhite !important;
  }
}

conichi-sidebar-user {
  .user-details h2 { color: $colorOffWhite !important }
}

//-------------------------------------
// Login divider
//-------------------------------------
.divider {
  color: $colorMediumGrey !important;

  span:before, span:after { border-top: 1px solid $colorMediumGrey !important }
}

//-------------------------------------
// Button outline
//-------------------------------------
.button.outline {
  border: 1px solid $colorPrimaryCorp !important;
  color: $colorPrimaryCorp !important;

  &:hover,
  &:active,
  &:focus { color: $colorPrimaryCorp !important }
}

//-------------------------------------
// Hamburger menu icon
//-------------------------------------
.toggle { @include filter(invert(.5)) }

#profile, #settings {
  .toggle { @include filter(none) }
}

//-------------------------------------
// Select dropdown arrow
//-------------------------------------
conichi-select .container .dropdown-arrow { @include filter(invert(.5)) }

//-------------------------------------
// Edit Address Icon
//-------------------------------------
#checkout-address .address-box .edit { @include filter(invert(.5)) }

//-------------------------------------
// Edit Credit Card icon
//-------------------------------------
#credit-cards .credit-card .action { @include filter(invert(.5)) }

//-------------------------------------
// Checkout payment page
//-------------------------------------
#credit-cards, #credit-cards-dashboard {
  .credit-card .no-card { color: $colorMediumGrey !important }
  .secure-payment img { @include filter(invert(.5)) }
}

//-------------------------------------
// Checkout billing address
//-------------------------------------
#checkout-address .address-box { background: $colorBackgroundDarkened !important }

//-------------------------------------
// Modal box
//-------------------------------------
modal-container { border: 1px solid $colorLightGrey !important }

//-------------------------------------
// Form footer
//-------------------------------------
#app .form-footer { border-top: 2px solid $colorDarkGrey !important }

//-------------------------------------
// Other elements
//-------------------------------------
.instructions { color: $colorMediumGrey !important }
