//-------------------------------------
// Typography
//-------------------------------------
body { color: $colorDarkGrey }

a {
  &:link, &:visited, &:hover, &:active, &:focus {
    color: $colorDarkGrey;
    &:hover { color: lighten($colorDarkGrey, 10%) }
  }

  &.button {
    color: $colorOffWhite;
    &:hover { color: darken($colorOffWhite, 10%) }
  }
}

h2 { color: $colorDarkGrey }

//-------------------------------------
// Text inputs
//-------------------------------------
.loading-screen img { @include filter(invert(.5)) }

//-------------------------------------
// Text inputs
//-------------------------------------
conichi-text {
  .group {
    input {
      border-bottom: 2px solid rgba($colorMediumGrey, .6);
      -webkit-text-fill-color: $colorDarkGrey;
      color: $colorDarkGrey;

      &:hover { -webkit-text-fill-color: $colorDarkGrey }
    }

    label { color: $colorDarkGrey }
    img { @include filter(invert(.5)) }
  }
}

//-------------------------------------
// Reservation box
//-------------------------------------
conichi-reservation {
  .title { color: $colorSemiBlue !important }
  .details p { color: $colorMediumGrey !important }
  .reservation-container .venue span { color: $colorMediumGrey !important }
}

//-------------------------------------
// Sidebar
//-------------------------------------
conichi-sidebar {
  background: #565D64 !important;
  border-right: 1px solid $colorMediumGrey !important;

  a {
    color: $colorOffWhite !important;
    
    &:hover,
    &.active {
      background: lighten(#565D64, 2%);
      color: lighten($colorPrimaryCorp, 10%) !important;
    }
  }

  .footer {
    box-shadow: 0px -5px 5px 0px #565D64 !important;
    background: #565D64 !important;
    color: $colorOffWhite !important;
  }
}

conichi-sidebar-user {
  .user-details h2 { color: $colorOffWhite !important }
}

//-------------------------------------
// Login divider
//-------------------------------------
.divider {
  color: $colorMediumGrey !important;

  span:before, span:after { border-top: 1px solid $colorMediumGrey !important }
}

//-------------------------------------
// Button outline
//-------------------------------------
.button.outline {
  border: 1px solid $colorPrimaryCorp;
  color: $colorPrimaryCorp;

  &:hover,
  &:active,
  &:focus { color: $colorPrimaryCorp }
}

//-------------------------------------
// Hamburger menu icon
//-------------------------------------
.toggle { @include filter(invert(.5)) }

#profile, #settings {
  .toggle { @include filter(none) }
}

//-------------------------------------
// Checkout payment page
//-------------------------------------
#credit-cards, #credit-cards-dashboard {
  .credit-card .no-card { color: $colorMediumGrey !important }
  .secure-payment img { @include filter(invert(.5)) }
}

//-------------------------------------
// Checkout billing address
//-------------------------------------
#checkout-address .address-box { background: $colorBackgroundDarkened !important }

//-------------------------------------
// Modal box
//-------------------------------------
modal-container { border: 1px solid $colorLightGrey !important }

//-------------------------------------
// Other elements
//-------------------------------------
.instructions { color: $colorMediumGrey !important }
