// Color variables
// Styleguide 1.0

$colorBackground: #001634;
$colorBackgroundShaded: tint($colorBackground, 2%);

$colorPrimaryCorp: #5D95DA;
$colorSecondaryCorp: #9FB0C3;
$colorTeal: #51B1BD;

$colorMediumBlue: #6b90c5;
$colorDarkBlue: #2E3E51;

$colorErrorRed: #F26161;
$colorSuccessGreen: #40B292;
$colorWarningOrange: #F7B868;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #5a5a5a;
