// Color variables
// Styleguide 1.0

$colorBackground: #f7f7f7;
$colorBackgroundDarkened: darken($colorBackground, 1%);

$colorLandingBox: #d3e0ed;

$colorPrimaryCorp: #5d95da;
$colorSecondaryCorp: #9fb0c3;
$colorHeaderBar: #5d95da;
$colorTeal: #51b1bd;

$colorSoftBlue: #edf0f4;
$colorMediumBlue: #6b90c5;
$colorSemiBlue: #425b78;
$colorDarkBlue: #2e3e51;

$colorErrorRed: #f26161;
$colorSuccessGreen: #40b292;
$colorWarningOrange: #f7b868;

$colorOffWhite: #fbfbfb;
$colorGenericGrey: #5d5d5d;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #8b8b8b;
$colorDarkGrey: #444444;

$colorProgressText: #7b7b7b;
$colorProgressActive: #5d95da;
$colorModalDefault: #333f47;
$colorModalButton: #0a4171;
