// Common DOM elements such as hyperlinks, lists, images, code, etc.
// Styleguide 1.0.

* { -ms-overflow-style: none }

//-------------------------------------
// SVG
//-------------------------------------

.icon { fill: $colorOffWhite }

svg { fill: transparent }

//-------------------------------------
// Hyperlinks
//-------------------------------------

a { text-decoration: none }

p a {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  text-decoration: underline;
  color: $colorMediumBlue;

  &:hover,
  &:active,
  &:focus {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    color: $colorMediumBlue;
  }
}

//-------------------------------------
// Lists
//-------------------------------------

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-left: 0;
    position: relative;
  }
}

img {
  display: block;
  width: 100%;
}
