// Grid & layout settings
//
// $breakPhonePortrait 				- Breakpoint for mobile, triggers at min-width: 321px
// $breakTabletPortrait				- Breakpoint for tablet, triggers at min-width: 481px
// $breakTabletLandscape			- Breakpoint for tablet, triggers at min-width: 769px
// $breakDesktop					- Breakpoint for desktop, triggers at min-width: 1025px
// $breakLargescreen:				- Breakpoint for desktop, triggers at min-width: 1441px
//
// Styleguide 1.0.

$max-width: 1200px;

//-------------------------------------
// Overrides for Neat
//-------------------------------------

$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(1em, 3) !default;
$fg-column: $column;
$fg-gutter: $gutter;

//-------------------------------------
// Breakpoints
//-------------------------------------

$breakPhonePortrait: (columns: 12, gutter: 0, media: "screen and (min-width: 321px)");
$breakTabletPortrait: (columns: 12, gutter: 0, media: "screen and (min-width: 481px)");
$breakTabletLandscape: (columns: 12, gutter: 0, media: "screen and (min-width: 769px)");
$breakDesktop: (columns: 12, gutter: 0, media: "screen and (min-width: 1025px)");
$breakLargescreen: (columns: 12, gutter: 0, media: "screen and (min-width: 1200px)");
$breakLargeerScreen: (columns: 12, gutter: 0, media: "screen and (min-width: 1800px)");
