//-------------------------------------
// Layout & comp.
//-------------------------------------

body {
  margin: 0;
  padding: 0;
}

.screen-container {
  @extend %screen-container
}

.outer-container {
  @extend %outer-container
}

.inner-container {
  @extend %inner-container
}

.grid-container {
  @include grid-container;
  @include grid-collapse;
  width: calc(100% + 2em);

  @include grid-media($breakTabletLandscape) {
    margin: 0 -1em;
  }
}

.details {
  .grid-container {
    @include grid-container;
    @include grid-collapse;
    width: calc(100% + 2em);

    @include grid-media($breakTabletPortrait) {
      margin: 0 -1em;
    }
  }
}

.column {
  margin-left: 1em;
}

.details-container {
  margin-left: 1em;
}

.credit-card {
  padding-left: 1em !important;
}

.full {
  @include grid-column(12);

  @include grid-media($breakTabletLandscape) {
    @include grid-column(12)
  }

  &:after {
    clear: both
  }
}

.half {
  @include grid-column(12);

  @include grid-media($breakTabletLandscape) {
    @include grid-column(6)
  }

  &:after {
    clear: both
  }
}

.third {
  @include grid-column(12);

  @include grid-media($breakTabletLandscape) {
    @include grid-column(4)
  }

  &:after {
    clear: both
  }
}

.quarter {
  @include grid-column(12);

  @include grid-media($breakTabletLandscape) {
    @include grid-column(3)
  }

  &:after {
    clear: both
  }
}

app-root+.loading-screen {
  @include position(fixed, 0 0 0 0);
  transition: opacity .2s ease-in-out .6s;
  -webkit-transition: opacity .2s ease-in-out .6s;
  background: $colorBackground;
  pointer-events: none;
  z-index: 9999999999999;
  opacity: 0;

  img {
    @include position(absolute, 50% 50% null null);
    @include pulse ($duration: 2s, $function: ease, $fill: both);
    width: 15em;
    margin: -4em -7.5em 0 0;
  }
}

app-root:empty+.loading-screen {
  opacity: 1
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  app-root+.loading-screen {
    display: none
  }
}
